body {

	background-image: url(../images/background.jpg) ;
	font-family: 'Roboto', sans-serif; 
}

header {
	font-size:40px;
	font-weight: 700;
	color:black;
	text-align:center;
}

img {
	height:150px;
	width:150px;
}

.rightside {
	background-color:red;
	color:black;
	font-size: 16px;
	line-height: 32px;
	font-weight:600;
	margin-left:20px;
}

.alphabet {
	text-align:center;
}

.jumbotron {
	background-color: transparent;
	

}

.jumbotron p {
	text-align:center;
	color: white;
}